@media (max-width: 1300px) {
    main {
        display: flex;
        flex-direction: column;
    }

    .principal,
    .cadastro {
        width: 100%;
    }

    .principal {
        height: 40em;
    }

    h1 {
        display: none;
    }

    h3 {
        display: inline-block;
        width: 25%;
        font-size: 2.6em;
    }

    form {
        width: 90%;
        margin: 3em 4em;
    }
}

@media (max-width: 768px) {
    .principal {
        display: none;
    }

    fieldset {
        display: flex;
        flex-direction: column-reverse;
    }
}