@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

main {
    display: flex;
}

.principal,
.cadastro {
    width: 50%;
}

.principal {
    background-image: url(../img/banking.jpg);
    height: 100vh;
    background-size: cover;
}

h1, label, aside, input, button, h3{
    font-family:'Mulish', sans-serif;
}

h1, h3 {
    font-size: 2.2em;
    width: 40%;
    margin: 2em;
}

h2 {
    font-family: 'Mulish', sans-serif !important;
    color: var(--cor-azul-botao) !important;
    font-size: .75em !important;
}

h3 {
    display: none;
}



