button {
    margin: .3em 0;
    width: 100%;
    padding: .5rem 0;
    border-radius: 3em;
    font-size: 1.2em;
    font-weight: 700;
    background-color: var(--cor-azul-botao);
    color: var(--cor-branco);
    border: none;
    cursor: pointer;
}

